{% extends "base.html" %}

{% block content %}
<div class="work">
    <div class="intro">
    <h4>Somos una fantástica revista online de videojuegos.
         Nuestras noticias van asociadas a los mejores títulos del mercado.
         <br> Aquí podréis encontrar reviews y novedades sobre todos ellos.
         
    </h4>
    </div>

    <br>

    <h2>
        <u>
        Quienes somos
        </u>
    </h2>

    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{{ url_for('static', filename='img2/mono3.jpg') }}"  class="rounded">
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Monica- La redactora jefe de nuestra selva.</h4>
                    
                </div>
            </div>
    </div>

    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{{ url_for('static', filename='img2/monete.jpg') }}"   class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Nazaret - Nuestra monete gamer favorita.</h4>
                    
                </div>
            </div>
    </div>

    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{{ url_for('static', filename='img2/informatico.jpg') }}"   class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Rafi - El informático más avanzado de la isla.</h4>
                    
                </div>
            </div>
    </div>
    
    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{{ url_for('static', filename='img2/amelio.jpg') }}"  class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4> Amedio - Cubre casi todos los eventos, es "moni"-presente.</h4>
                    
                </div>
            </div>
    </div>
   
    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{{ url_for('static', filename='img2/chimpance.jpg') }}"   class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Amanda (yo)- La más creativa y chistosa del lugar.</h4>
                    
                </div>
            </div>
    </div>






</div>
{% endblock %}
