{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#boton_hide").click(function(){
    		$("#work").hide();
			$(".work").hide();
  		});
  		$("#boton_show").click(function(){
    		$("#work").show();
			$(".work").show();

		});
		
		$("#boton_grande").click(function(){
			var sizeFuenteActual = $("h4").css('font-size');
			var sizeFuenteActualNum = parseFloat(sizeFuenteActual, 10);
    		var sizeFuenteNuevo = sizeFuenteActualNum*1.2;
			$("h4").css('font-size', sizeFuenteNuevo);
			

		});
		$("#boton_pequeño").click(function(){
    		
			var sizeFuenteActual = $("h4").css('font-size');
			var sizeFuenteActualNum = parseFloat(sizeFuenteActual, 10);
    		var sizeFuenteNuevo = sizeFuenteActualNum*0.8;
			$("h4").css('font-size', sizeFuenteNuevo);

		});
		var original = $(".work").css('background-color')
		var original_texto = $(".work").css('color')
		$("#boton_luz").click(function(){
			$(".work").css('background-color', original);
			$(".work").css('color', original_texto);

		});
		
		$("#boton_nocturno").click(function(){
    		
			$(".work").css('background-color', '#282e37');
			$(".work").css('color', '#d7dfec');

		});
	});
	</script>
</head>

<div class="botones_jquery">
	<button name="boton_hide" id="boton_hide"> Esconder </button>
	<button name="boton_show" id="boton_show"> Ver </button>
	
	<button name="boton_grande" id="boton_grande"> Más Grande </button>
	<button name="boton_pequeño" id="boton_pequeño"> Más Pequeño </button>
	
	<button name="boton_nocturno" id="boton_nocturno"> Nocturno </button>
	<button name="boton_luz" id="boton_luz"> Luz </button>
	
</div>

<div class="work">
    <div class="intro">
    <h4>Somos una fantástica revista online de videojuegos.
         Nuestras noticias van asociadas a los mejores títulos del mercado.
         <br> Aquí podréis encontrar reviews y novedades sobre todos ellos.
         
    </h4>
    </div>

    <br>

    <h2>
        <u>
        Quienes somos
        </u>
    </h2>



    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{% static 'img2/mono3.jpg' %}" class="rounded">
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Monica- La redactora jefe de nuestra selva.</h4>
                    
                </div>
            </div>
    </div>

    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{%  static 'img2/monete.jpg' %}"   class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Nazaret - Nuestra monete gamer favorita.</h4>
                    
                </div>
            </div>
    </div>

    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{%  static 'img2/informatico.jpg' %}"   class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Rafi - El informático más avanzado de la isla.</h4>
                    
                </div>
            </div>
    </div>
    
    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{%  static 'img2/amelio.jpg' %}"  class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4> Amedio - Cubre casi todos los eventos, es "moni"-presente.</h4>
                    
                </div>
            </div>
    </div>
   
    <div class="row">
            <div class="evento row col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-5 col-lg-3">
                        <img src="{%  static 'img2/chimpance.jpg' %}"   class="rounded" >
                    </a>
                </div>
    
                <div class="col-sm-6 col-md-7 col-lg-8">
                    
                        <h4>Amanda (yo)- La más creativa y chistosa del lugar.</h4>
                    
                </div>
            </div>
    </div>






</div>
{% endblock %}
